<%- include('partials/header2', { firstName: firstName }) %>
<link rel="stylesheet" href="./css/profile.css" />
<div class="view-details">
  <div class="views">
    <div class="view">
      <div class="avatar">
        <img src="images/<%= image %>" alt="">
      </div>
      <div class="details">
        <div class="membership">
          <p class="name"><%= firstName %> <%= lastName %></p>
          <p>
            Member since <span><%= accountCreatedYear.getFullYear()%></span>
          </p>
        </div>
        <img src="images/rootry logo 1.png" alt="logo" />
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') %>
